/* LISTE UTILISATEURS */
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(65, 6, 89);
}

#liste ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media(min-width: 600px){
    #liste ul {
        margin: 0 20%;
    }
}

#liste li {
    justify-content: center;
    margin: .5em auto;
    flex: 0 1 45%;
}
@media(min-width: 600px){
    #liste li {
        flex: 0 1 30%;
    }
}

#liste button {
    appearance: none;
    border: none;
    background: rgb(106, 150, 205);
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}

#liste button:hover img,
#liste button:focus img {
    opacity: 0.6;
}

#liste img {
    transition: opacity 0.3s ease;
    padding: 0;
    margin: 0;
    display: block;
}

.fiche {
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (min-width: 600px){
    .fiche {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

#fiche h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(65, 6, 89);
}
@media (min-width: 600px){
    #fiche h2 {
        flex: 1 0 100%;
        margin: 0 auto;
        text-align: center;
    }
}

#fiche img {
    max-width: 200px;
    border-radius: 8px;
}
@media (min-width: 600px){
    #fiche img {
        flex: 0 1 45%;
    }
}
@media (min-width: 600px){
    #fiche ul {
        flex: 0 1 45%;
    }
}

/* VISIONNEUSE */
.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#listeFilms ul{
    list-style-type: none;
}
@media (min-width: 600px) {
    #listeFilms ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
#listeFilms li{
    margin: 0 5px;
}
#listeFilms button{
    border: none;
    padding: 1em 1em;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.visionneuse{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#visionneuse p{
    text-align: center;
}
#visionneuse div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#visionneuse div select,
#visionneuse div input{
    margin: 0 5px;
    padding: .8em .8em;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}
#visionneuse figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}
@media (min-width: 600px) {
    #visionneuse figure{
        width: 600px;
    }
}
#visionneuse img{
    display: block;
    max-width: 100%;
}
#visionneuse figcaption{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.2em;
}