@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    height: 100%;
    width: 100%;
    font-family: "Poppins", "sans-serif";
}
/* LISTE UTILISATEURS */
.bodyListe{
    font-family: "Raleway", sans-serif;
    margin: 0 0;
}
.mainListe{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bodyListe h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: rgb(23, 23, 62);
    margin: 0 0 1.5em 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

#liste ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media(min-width: 600px){
    #liste ul {
        margin: 0 20%;
    }
}

#liste li {
    justify-content: center;
    margin: .5em auto;
    flex: 0 1 45%;
}
@media(min-width: 600px){
    #liste li {
        flex: 0 1 30%;
    }
}

#liste button {
    appearance: none;
    border: none;
    background: rgb(106, 150, 205);
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    border: solid rgb(23, 23, 62) 1px;
}

#liste button:focus{
    border: solid rgb(23, 23, 62) 5px;
}
#liste button:focus img{
    opacity: .3;
}

#liste button:hover img {
    opacity: 0.6;
}

#liste img {
    transition: opacity 0.3s ease;
    padding: 0;
    margin: 0;
    display: block;
}

.fiche {
    margin: 60px auto;
    padding: 40px 0;
    border-top: 1px solid rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: rgb(23, 23, 62) solid 7px;
    
}
@media (min-width: 600px){
    .fiche {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 90vw;
    }
}
@media (min-width: 800px){
    .fiche {
        width: 70vw;
    }
}

#fiche h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(23, 23, 62);
    padding-bottom: 1em;
}
@media (min-width: 600px){
    #fiche h2 {
        flex: 1 0 100%;
        margin: 0 auto;
        text-align: center;
    }
}

#fiche img {
    max-width: 200px;
    border-radius: 8px;
}
@media (min-width: 600px){
    #fiche img {
        flex: 0 1 45%;
    }
}
#fiche ul{
    list-style-type: none;
}
@media (min-width: 600px){
    #fiche ul {
        flex: 0 1 45%;
    }
}

#fiche ul li:nth-child(1){
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(23, 23, 62);
    margin-bottom: 10px;
}

/* VISIONNEUSE */
.bodyVisio{
    background-image: url("../images/star_wars.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100%;
    max-width: 100%;

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Poppins", "sans-serif";
}
h1{
    font-family: "Audiowide";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
#listeFilms ul{
    list-style-type: none;
}
@media (min-width: 600px) {
    #listeFilms ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
#listeFilms li{
    margin: 0 5px;
}
.bodyVisio button{
    font-weight: bold;
}
#listeFilms ul button{
    border: none;
    padding: 1em 1em;
    background-color: black;
    color: white;
    border-radius: 5px;
}
#listeFilms ul button:hover{
    background-color: grey;
}
#listeFilms ul button:active{
    background-color: white;
    border: solid black 4px;
    color: black;
}



.visionneuse{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#visionneuse p{
    text-align: center;
}
#visionneuse div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#visionneuse div select,
#visionneuse div input{
    margin: 0 5px;
    padding: .8em .8em;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}
#visionneuse div input{
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}
#visionneuse div input:hover{
    outline: solid 2px black;
}
#visionneuse div input:active{
    background: black;
    color: white;
}


#visionneuse figure{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    border: solid black 5px;
}
@media (min-width: 600px) {
    #visionneuse figure{
        width: 600px;
    }
}
#visionneuse img{
    display: block;
    max-width: 100%;
   
    background-color: black;
}
@media (min-width: 600px) {
    #visionneuse img{
        width: 600px;
        height: 400px;
    }
}
#visionneuse figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    font-family: "Poppins", sans-serif;
    font-family: "Audiowide";
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1.2em;
}